{% extends 'base.html' %}

{% load static %}


{% block body %}


<div class="jumbotron jumbo1">
    <h1>New Event Orgnized</h1>
    <p>24 Jan 2019, 10:30 AM</p>
    <div class="social-links">
        <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
    </div>
</div>
<!--This is where the header ends-->

<div class="container blog">



    <!--Blog Section-->
    <div class="m-5 row ">
        <div class="col-sm-8" style="border: solid">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
            </p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
            </p>
            <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
            </p>
            <div class="jumbotron c_jumbotron"><p>Ad Here</p></div>
            <h3>Main Highlights</h3>
            <p>
                <img src="{%static 'images/cover.jpg' %}" class="img-thumbnail thumbnail">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
            </p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
            </p>
            <div class="jumbotron c_jumbotron"><p>Ad Here</p></div>


        </div>

        <div class="col-sm-4">
            <aside>
                <h3>Other Blogs</h3>
                <div class="sponsorBlog">
                    <div class="thumb_sponsor">
                        <section>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="float-right">
                                        <h4 class="heading_sponsor">City Won The League</h4>
                                    </a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="sponsorBlog">
                    <div class="thumb_sponsor">
                        <section>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="float-right">
                                        <h4 class="heading_sponsor">City Won The League</h4>
                                    </a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="sponsorBlog">
                    <div class="thumb_sponsor">
                        <section>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="float-right">
                                        <h4 class="heading_sponsor">City Won The League</h4>
                                    </a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
			
            </aside>

            
        </div>
    </div>
    <!--END is blog Section-->

    <!--Comment Form-->


        <!--Google auto ad section-->
        <!--ends google auto ad-->
    </div>
</div>
{% endblock %}